html {
  font-size: 16px;
  font-family: Microsoft JhengHei,sans-serif;
  line-height: 1.4;
  color: #000000;
}

.container {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 1140px) {
  .container {
    width: 820px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

.item-container {
  width: 820px;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .item-container {
    width: 625px;
  }
}

@media screen and (max-width: 767px) {
  .item-container {
    width: 80%;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #0081c3;
}

.top-text {
  background-color: #000000;
  font-size: 13px;
  height: 32px;
  line-height: 32px;
  color: white;
}

.top-block {
  height: 64px;
}

.top-block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-block ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13.5px;
  margin: 0;
  padding: 0;
}

.top-block a {
  display: block;
  line-height: 64px;
}

@media screen and (max-width: 767px) {
  .top-block {
    height: auto;
  }
}

.main-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.main-menu li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3%;
          flex: 0 0 33.3%;
}

.main-menu button {
  display: none;
}

.cart-cell-phone-header-whiteplace {
  display: none;
}

@media screen and (max-width: 767px) {
  .cart-cell-phone-header-whiteplace {
    display: block;
    height: 40px;
    width: 100%;
    background: #fff;
  }
}

@media screen and (max-width: 767px) {
  .top-block {
    margin: 0 10px;
  }
  .main-menu {
    position: fixed;
    bottom: 0;
    width: 60%;
    z-index: 1;
  }
  .main-menu li {
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
  }
  .main-menu li:hover {
    background-color: rgba(62, 62, 62, 0.8);
  }
  .main-menu a {
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .4s;
            transition-duration: .4s;
  }
  .main-menu a:hover {
    color: #fff;
  }
  .top-icon {
    position: fixed;
    bottom: 0;
    left: 70%;
    width: 30%;
    z-index: 1;
  }
  .contact-icon a:hover {
    color: #000000;
  }
  .cart-icon {
    -webkit-transition-property: background-color,color;
    transition-property: background-color,color;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
  }
  .cart-icon:hover {
    background-color: rgba(255, 146, 4, 0.8);
    color: #fff;
  }
  .logo {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .cart-cellphone.hidden {
    display: none;
  }
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  font-size: 26px;
  line-height: 64px;
  font-weight: bolder;
}

.logo a {
  margin: 0 auto;
}

.logo a:hover {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.top-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-icon .contact-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.top-icon .contact-icon ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-icon .contact-icon a {
  margin: 0 10px;
}

.top-icon .cart-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26.7%;
          flex: 0 0 26.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-icon .cart-icon i {
  line-height: 64px;
}

.index-image {
  height: 400px;
  background: url(../image/sunglasses_shopping.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.index-image h2 {
  font-size: 50px;
  position: absolute;
  margin: 0;
  left: 18%;
  top: 20%;
  color: #fff;
  text-shadow: #000000 0 0 8px;
}

@media screen and (max-width: 1140px) {
  .index-image h2 {
    font-size: 2.5rem;
    left: 8%;
    top: 20%;
  }
}

@media screen and (max-width: 767px) {
  .index-image h2 {
    font-size: 2.2rem;
    left: 4%;
    top: 16%;
    position: relative;
  }
  .index-image span {
    display: block;
    position: absolute;
    left: 2em;
  }
}

@media screen and (max-width: 350px) {
  .index-image h2 {
    font-size: 1.8em;
    top: 12%;
  }
  .index-image span {
    left: 1.5em;
  }
}

.index-hot-product h3 {
  font-size: 30px;
}

.index-hot-product ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.index-hot-product img {
  width: 250px;
  height: 250px;
  margin: 8px 10px;
}

.index-hot-product h4 {
  margin: 0;
}

.index-hot-product p {
  margin: 0 0 20px 0;
  font-size: 14px;
  color: #5a5a56;
}

@media screen and (max-width: 767px) {
  .index-hot-product ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.inspirational-quotes {
  color: #fff;
  background-color: gray;
  position: relative;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inspirational-quotes h3 {
  font-size: 30px;
  margin: 0 0 30px 0;
}

.inspirational-quotes p {
  margin: 0;
}

.quote-words {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .inspirational-quotes {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 550px) {
  .inspirational-quotes h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .inspirational-quotes p {
    display: inline;
    font-size: 13.5px;
  }
}

.book-newspaper {
  display: block;
  height: 300px;
  background-color: #f6f6f6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-newspaper h3 {
  font-size: 30px;
  margin: 0;
  padding: 30px 0;
}

.book-newspaper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .book-newspaper .container {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .book-newspaper h3 {
    font-size: 26px;
  }
}

@media screen and (max-width: 350px) {
  .book-newspaper h3 {
    font-size: 22px;
  }
}

.mail-block {
  width: 100%;
  position: relative;
}

.newspaper-mail {
  width: 50%;
}

.newspaper-mail i {
  position: absolute;
  left: 14px;
  top: 8px;
}

@media screen and (max-width: 767px) {
  .newspaper-mail {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .newspaper-mail {
    width: 100%;
  }
}

#mail-text {
  width: calc(100% - 39px);
  margin: 5px auto;
  padding-left: 35px;
  background-color: transparent;
  border: 0;
  border-bottom: #ddd 1px solid;
}

#mail-text:focus {
  outline: none;
}

#mail-button {
  width: 100%;
  height: 30px;
  margin: 8px auto;
  background-color: #000000;
  color: #fff;
  border: 0;
}

#mail-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  #mail-text {
    width: calc(100% - 39px);
  }
}

.footer-link {
  height: 32px;
  background-color: #000000;
}

.footer-link ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.footer-link li {
  padding: 0 20px;
}

.footer-link a {
  color: #fff;
  font-size: 13px;
  line-height: 32px;
}

@media screen and (max-width: 550px) {
  .footer-link {
    background-color: #3e3e3e;
    height: auto;
  }
  .footer-link .container {
    width: 100%;
    margin: 0;
  }
  .footer-link ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-link li {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer-link a {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .4s;
            transition-duration: .4s;
  }
  .footer-link a:hover {
    background-color: #5e5e5e;
  }
}

@media screen and (max-width: 350px) {
  .footer-link a {
    font-size: 15px;
  }
}

.copyright {
  height: 32px;
  background-color: #c0c0c0;
  font-size: 13px;
  line-height: 32px;
}

@media screen and (max-width: 350px) {
  .copyright {
    font-size: 12px;
  }
}

.cell-phone-menu-footer {
  display: none;
}

.cell-phone-footer-whiteplace {
  display: none;
}

@media screen and (max-width: 767px) {
  .cell-phone-menu-footer {
    height: 64px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: block;
    position: fixed;
    bottom: 0;
  }
  .cell-phone-footer-whiteplace {
    display: block;
    width: 100%;
    height: 64px;
    background: #fff;
  }
}

.product-index {
  font-size: 13.5px;
}

.product-index .item-container {
  text-align: start;
}

.product-index span {
  font-size: 11px;
  color: #e4e4e4;
}

.product-index a:hover {
  color: #000000;
}

@media screen and (max-width: 1140px) {
  .product-index {
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .product-index {
    display: none;
  }
}

.product-information {
  margin: 40px auto;
}

.product-information .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .product-information .item-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product-instruction {
  width: 400px;
}

.item-product-infoimg {
  max-width: 100%;
  width: 400px;
  height: 400px;
  background: url(../image/A3.JPG) center center no-repeat;
  background-size: 400px 400px;
}

.item-product-infotext {
  text-align: start;
  font-size: 13.5px;
}

@media screen and (max-width: 767px) {
  .product-instruction {
    width: 100%;
  }
  .item-product-infoimg {
    width: 100%;
  }
}

.product-buying-side {
  padding-left: 30px;
  text-align: start;
}

.add-item-to-cart h3 {
  margin: 0;
}

.add-item-to-cart .item-number {
  font-size: 12px;
  margin: 0;
}

.add-item-to-cart form {
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  .product-buying-side {
    padding: 0;
    border-top: #5a5a56 1px solid;
  }
  .add-item-to-cart {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .add-item-to-cart h3 {
    text-align: center;
  }
  .add-item-to-cart > p {
    text-align: center;
  }
}

#eye-shadow-select {
  width: 100%;
  height: 42px;
  padding: 5px;
}

.item-num-textbox {
  width: 42px;
  height: 22px;
  padding: 5px;
}

.item-add-cart {
  padding: 10px 0;
}

.item-add-cart-button {
  width: 100%;
  height: 42px;
  border: 0;
  background-color: #000000;
  color: #fff;
}

.item-add-cart-button:hover {
  cursor: pointer;
}

.item-recommend-product-list {
  list-style: none;
  padding: 0;
}

.item-recommend-product-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-recommend-product-list li a:hover {
  color: #000000;
}

.item-recommend-product-list img {
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 767px) {
  .item-recommend-product h3 {
    font-size: 18px;
  }
  .item-recommend-product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    border-bottom: #cbcbcb 1px solid;
  }
  .item-recommend-product-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .item-recommend-product-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.recommend-product-img {
  margin: 5px 5px 5px 0;
}

.recommend-product-text {
  font-size: 13.5px;
}

.read-items-index {
  font-size: 13px;
}

.read-items-index .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.read-items-index .item-container div {
  padding: 35px;
}

.read-items-index a {
  color: #5e5e5e;
}

.read-items-index span {
  color: #3e3e3e;
}

.cart-index-back-to-shopping {
  font-size: 13px;
  margin: 12px 0;
}

@media screen and (max-width: 767px) {
  .cart-index-back-to-shopping {
    margin: 0;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #fff;
  }
  .cart-index-back-to-shopping i {
    margin-right: 8px;
  }
}

.cart-top-item-name {
  color: #8c8c8c;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  border-bottom: #cbcbcb 1px solid;
}

.cart-top-item-name p:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.cart-top-item-name p:nth-child(2), .cart-top-item-name p:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6%;
          flex: 0 0 16.6%;
  text-align: center;
}

.cart-top-item-name p:nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: end;
}

@media screen and (max-width: 767px) {
  .cart-top-item-name {
    display: none;
  }
}

.cart-product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
  font-size: 14px;
}

.cart-product-info > p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6%;
          flex: 0 0 16.6%;
  text-align: center;
}

.cart-product-info input {
  width: 50px;
  height: 20px;
  padding: 5px;
}

.cart-product-info p:last-child {
  text-align: end;
}

@media screen and (max-width: 1140px) {
  .cart-product-info {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .cart-product-info {
    border-top: #5e5e5e 1px solid;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cart-product-incart {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-product-incart img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  height: 120px;
}

@media screen and (max-width: 767px) {
  .cart-product-incart {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 30px 0;
    position: relative;
  }
  .cart-product-incart ~ p {
    display: none;
  }
  .cart-product-incart ~ p:nth-of-type(2) {
    display: block;
    position: absolute;
    right: 20%;
    top: 30%;
  }
}

.cart-product-text {
  margin: 0 20px;
}

.cart-product-text .cart-product-name {
  margin: 0;
}

.cart-product-text .cart-product-name span {
  color: gray;
}

.cart-product-text .item-number {
  font-size: 11px;
  margin: 0 0 30px 0;
}

.cart-product-text a {
  font-size: 12.5px;
  color: gray;
  text-decoration: underline;
}

.cart-bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: #b4b4b4 1px solid;
  padding: 30px 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .cart-bottom-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart-discount-code-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  font-size: 14px;
}

.cart-discount-code-block input {
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #cbcbcb 1px solid;
  padding: 5px;
}

.cart-discount-code-block span {
  line-height: 30px;
}

@media screen and (max-width: 767px) {
  .cart-discount-code-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
  .cart-discount-code-block input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.cart-pay-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart-pay-block div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-pay-block p {
  margin: 0 0 30px 0;
  font-size: 13.5px;
  text-align: end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart-pay-block div p:last-child {
  font-size: 16px;
  border-top: #cbcbcb 1px solid;
  padding-top: 30px;
}

.cart-pay-block input {
  width: 100%;
  height: 40px;
  background-color: #000000;
  color: #fff;
  border: 0;
}

.cart-pay-block input:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .cart-pay-block {
    padding-top: 30px;
  }
  .cart-pay-block p {
    text-align: center;
  }
  .cart-pay-block input {
    margin-top: 20px;
  }
}

.cart-pay-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 136.12px;
}

.cart-pay-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart-pay-value p:last-child {
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */